<div class="card max-width center-card">
    <div class="card-header">
        <p class="card-header-title">
            {{weatherItem.name | uppercase}}
        </p>
    </div>
    <div class="card-image">
        <figure class="image is-128x128">
            <img src="http://openweathermap.org/img/w/{{weatherItem.weather[0].icon}}.png" alt="temp Icon" class="center-image">
        </figure>
    </div>
    <div class="card-content">
        <div class="content">
            <p class="big-size center">
                {{weatherItem.weather[0].description | uppercase}}
            </p>
            <span class="temp-size center">{{weatherItem.main.temp}}°Celsius</span>
            <br>
            <p class="center big-size">
                {{dayOfTheWeek | date: 'EEE'}}
            </p>
        </div>

    </div>
</div>